body{
    background-color: #003865;
}

header{
    color: white;
    text-align: center;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.center-iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 700px;
  }

footer{
    text-align: center;
    font-size: 6px;
    color: white;
    padding-top: 5px;
}
